name: Build and Test macOS

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  build_macos:
    runs-on: macos-15
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: "Select Latest Xcode"
        uses: maxim-lobanov/setup-xcode@c51a66b42363123fa82a6cfe02c60af4281dab93
        with:
          xcode-version: 16.4

      - name: "Carthage Cached Bootstrap"
        uses: DevCycleHQ/carthage-bootstrap@v1.2.0
        with:
          github-token: ${{ secrets.AUTOMATION_USER_TOKEN }}
          use-xcframeworks: true

      - name: Fastlane macOS Tests
        run: fastlane mac tests
        timeout-minutes: 15
